.popup-content {
    display: none;
    position: absolute;
    background-color: #fefefe;
    padding: 20px;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}

.popup {
    position: relative;
}

.detail {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
